* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.endpointsDoc li a.active {
    color: #20B2AA !important;
    font-weight: bold !important;
}

.sidenav li a.active {
    color: #20B2AA !important; 
    font-weight: bold !important;
}

.list-unstyled li:first-child a {
    font-weight: normal !important;
    color: #20B2AA !important;
}

.list-unstyled li:first-child a:hover {
    color: #20c997 !important;
    font-weight: bolder !important;
    transition: color 0.3s ease;
}

.list-unstyled li:nth-child(2) a {
    color: #20c997 !important;
    font-weight: bolder !important;
    transition: color 0.3s ease;
}

.endpointsDoc li a{
    color: #dfdde0 !important;
}

.second-menu {
    padding: 20px 0;
}

main {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.card {
    max-width: 1800px;
    border: none !important;
    background-color: #000;
    color: #fff;
    display: flex;
    text-align: justify;
}

.card:hover {
    transform: none !important;
}

.card::-webkit-scrollbar {
    width: 5px; 
}

.card::-webkit-scrollbar-thumb {
    background-color: #b0b0b0; 
    border-radius: 10px; 
}

#doc-content {
    padding: 0px 0 50px;
}

.card-content {
    padding: 20px; 
    max-width: 800px; 
    margin: 0 auto;   
    padding-bottom: 50px;
}

.content-text span {
    color: #20B2AA;
}

.content-text p {
    margin-bottom: 20px !important;
    font-size: 1.2rem;
    line-height: 30px;
}

.built-with {
    margin-bottom: 25px !important;
}

.technologies {
    margin-top: 10px;
}

.technologies i:first-child {
    color: #3776AB;
    font-size: 4rem;
    margin-right: 50px;
}

.technologies i:last-child {
    color: #F05032;
    font-size: 4rem;
}

.tech-labels span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.tech-labels span:first-child {
    margin-right: 50px;
}

.row {
    width: 80%;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

pre code.hljs {
    background-color: #151b23;
}

.hljs, 
.hljs-punctuation, .hljs-tag {
    color: #fff !important;
}

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type,
.blue-text.text-lighten-2 {
    color: #20B2AA !important;
}

hr {
    margin: 30px 0 !important;
}

#slide-out {
    transition: transform 0.3s ease !important;
}

code {
    color: #1dfcfe;
}

.modal {
    height: 100vh;
    max-height: fit-content;
}

.modal .modal-footer {
    background-color: transparent;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 15px 0;
}

.fixed-action-btn {
    right: 50px;
    bottom: 50px;
}

.btn-floating.btn-large i { 
    background-color: #037a76 !important;
    color: #fff;
}

@media screen and (max-width: 992px) {
    
    .card {
        max-width: 90vw;
    }

    .fixed-action-btn {
        right: 20px;
        bottom: 20px;
    }
}