* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #000000, #000000, #000c00);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;  
    color: #ffffff;
}

header {
    border-bottom: 2px solid #008080;
}

.text-success {
    color: #fff !important;
    font-size: 1.1rem;
}

.logo img {
    filter: brightness(0) invert(1);
    max-height: 80px !important;
}

img.img-icon {
    filter: invert(1) brightness(2);
}

nav a:hover {
    color: #20c997 !important;
    font-weight: bolder !important;
    transition: color 0.3s ease;
}

.list-unstyled li:first-child a {
    font-weight: bolder !important;
    color: #20c997 !important;
}

li:has(.divider)  {
    padding: 20px;
}

#mobile-menu li a {
    color: #dfdde0 !important;
}

#mobile-menu li:first-child  a{
    margin-top: 50px;
}

header span {
    text-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.bg-dark {
    background-color: #000 !important;
}

.sidenav {
    background-color: #000;
    border-left: 2px solid #28a745;
}

.sidenav li a {
    color: #28a745 !important;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.sidenav li a:hover {
    background-color: rgba(40, 167, 69, 0.1);
}

nav {
    background-color: transparent;
}

.card {
    border: 1px solid #008080 !important;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body h3{
    margin: 1.5rem;
    font-weight: bold;
}

.card-body p {
    text-transform: uppercase;
}

.card-body i {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    border: 1px solid #009688;
    border-radius: 10px;
    background-color: #121212;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto; 
}

.modal-footer {
    border-top: 1px solid #009688
}

.icon-link {
    color: #cdd0d5 !important;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #20c997 !important;
}

.icon-link i {
    font-size: 3rem;
}

.input-field textarea {
    height: 150px !important;
    color: #fff !important;
    border: 1px solid #215341 !important;
    border-radius: 5px;
    padding: 20px !important;
    background-color: #000!important;
}

.input-field textarea:focus {
    border-color: #215341 !important;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5) !important;
}

.btn, .btn-large, .btn-small {
    background-color: transparent;
    border: 1px solid #008080;
    border-radius: 20px;
}

.btn-large i.right {
    color: #fff;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #215341 !important;
}

.loading-effect {
    width: 100%;
    height: 4px;
    background-color: #121212;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.loading-bar {
    width: 100%;
    height: 100%;
    background-color: #28a745;
    position: absolute;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.graphics {
    padding-top: 50px;
}

.graphics .links {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dfdde0;
    padding-bottom: 20px;
}

.graphics .links div button{
    border: none;
    margin: 0 20px 0 0;
}

.graphic-sep {
    padding: 50px 0;
}

.button-type-graphic {
    margin-top: 3rem !important;
}

.button-type-graphic button {
    margin-left: 20px;
}

h4.title-graphic {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 30px;
    line-height: 3rem;
}

#btnMemory, #btnBarChart {
    background-color: #215341;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 992px) {
    .logo img {
        max-height: 60px !important;
    }

    a .material-icons {
        color: #008080;
    }

    .card {
        margin-bottom: 20px;
    }

    .modal-content {
        width: 100%; 
        margin: 10% auto; 
    }
}